.main_box{width: 100%;height: 520px;position: relative;}
.mainImg{float: left;position: absolute;}
.mainImg img{width: 100%;height: 520px;opacity: 1;}
#mainImg{z-index: 1;}
.mainNav{position: absolute;width: 200px;height: 20px;bottom: 10px;left: 45%;background: #918f8f;z-index: 2;}
.mainNav p{width: 12px;height: 12px;float: left;border-radius: 50%;background: #b7b6b4;margin-left: 15px;margin-top: 4px;cursor: pointer;}
.mainNav .active{background: #cc0001;}
.mainLeft{position: absolute;width: 29px;height: 49px;background: url(../img/templateleft.png) no-repeat;top: 200px;left: 15%;z-index: 2;}
.mainRight{position: absolute;width: 29px;height: 49px;background: url(../img/templateright.png) no-repeat;top: 200px;right: 15%;z-index: 2;}
.brand_box{width: 100%;height: 448px;}
.brand{width: 1210px;height: 448px;margin: 0 auto;}
.brand_top{height: 79px;padding-top: 40px;}
.brand_bot{height: 329px;}
.brand_bot ul li{float: left;position: relative;margin-right: 10px;}
.brand_bot ul .last{margin-right: 0;}
.brand_bot ul li .imgbox{position: absolute;left: 30px;bottom: 1px;width: 174px;height: 154px;overflow: hidden;}
.imgbox .imghide{position: absolute;top: 100px;width: 106px;height: 154px;background: #fff;padding: 0 34px;}
.imghide img{width: 60px;margin: 10px auto 3px;}
.imghide .imgline{height: 30px;line-height: 30px;text-align: center;}
.imgline span{display: block;height: 2px;width: 20px;background: #000;margin-left: 43px;}
.imghide .imgbrand{height: 24px;line-height: 24px;text-align: center;font-size: 15px;color:#000;}
.imghide .imgspan{height: 24px;line-height: 24px;text-align: center;font-size: 15px;color:#000;}
.hotStore_box{width: 100%;height: 244px;}
.hotStore{width: 1210px;height: 244px;margin: 0 auto;}
.store_titie{height: 60px;}
.store_titie img{float: left;}
.hotBtn{width: 40px;height: 24px;padding: 23px 15px 0 0;float: right;}
.hotBtn span{width: 8px;height: 15px;display: block;float: left;}
.hotBtn .leftBtn{background: url(../img/share02.png) no-repeat -160px -384px;}
.hotBtn .rightBtn{float: right;background: url(../img/share02.png) no-repeat -180px -384px;}
.hotflag{height: 184px;}
.hotflag ul{width: 1210px;height: 184px;position: relative;}
.hotflag ul li{width: 1210px;height: 184px;float: left;position: absolute;display: none;} 
.hotflag ul .one{z-index: 1;display: block;}
.hotflagson{width: 107px;height: 55px;padding: 14px 29px;margin:0 6px 7px 0 ;border: solid 1px #ccc;position: relative;float: left;}
.hotflagson img{width: 107px;height: 55px;position: absolute;left: 29px;top: 14px;z-index: 1;}
#last{margin-right: 0;}
.hothidden{display:none;position: absolute;left: 29px;top: 14px;width: 107px;height: 42px;padding-top: 12px;background: #fff;}
.hothidden .hotname{font-size: 18px;text-align: center;}
.hothidden .hotline{margin-top: 5px;}
.hotline span{display: block;width: 20px;height: 2px;background: #000;margin-left: 43px;}
.topline{position: absolute;width:0px;height: 1px;top: -1px;left: 0;background: #000;}
.bottomline{position: absolute;width:0px;height: 1px;bottom: -1px;right: 0;background: #000;}
.leftline{position: absolute;width:1px;height: 0px;top: -1px;left: -1px;background: #000;}
.rightline{position: absolute;width:1px;height: 0px;bottom: -1px;right: -1px;background: #000;}
.hotSale_box{width: 100%;height: 674px;}
.hotSale{width: 1210px;height: 674px;margin: 0 auto;}
.hotsame_link{width: 1210px;height: 30px;margin-bottom: 15px;}
.hotsame_link li{float: left;width: 398px;height: 30px;color: #fff;background: #999;margin-right: 8px;line-height: 30px;text-align: center;font-size: 14px;}
.hotsame_link .one{background: #000;}
.hotsame_link .last{margin-right: 0;}
.hotsame{width: 1210px;height: 520px;overflow: hidden;}
.hotsame ul{width: 1210px;height: 520px;overflow: hidden;position: relative;}
.hotsame ul li{display:none;float: left;width: 1210px;height: 520px;position: absolute;}
.hotsame ul .one{z-index: 1;display: block;}
.hotsameLeft{width: 368px;float: left;height: 520px;}
.hotsameRight{width:833px;height: 520px;float: right;}
#hotrightTop{width: 833px;height: 250px;margin-bottom:8px ;}
.top1{width: 222px;height: 248px;margin-right: 8px;border: solid 1px #ccc;float: left;}
.top1 .toptext{margin-left:76px;width: 68px;height: 72px;text-align: center;}
 .toptext span{display: block;line-height: 24px;height: 24px;font-size: 13px;color: #666;}
.top1 .toppic{width: 222px;height: 150px;margin-bottom: 25px;margin-left: 0;}
.top1 .toppic img{width: 150px;margin-left: 36px;}
.top2{width: 367px;height: 248px;margin-right: 7px;border: solid 1px #ccc;float: left;position: relative;}
.top2 .toptext{margin-left: 70px;margin-top: 20px;width: 76px;float: left;}
.top2 .toppic{top: 28px;width: 180px;height: 180px;margin-left: 0px;position: absolute;left: 146px;}
.top2 .toppic img{width: 180px;}
#top1{margin-right: 0;}
#hotrightBot{width: 833px;height: 257px;}
.bottom1{width: 271px;height: 257px;border: solid 1px #ccc;margin-right: 7px;float: left;}
#bottom1{margin-right: 0;}
.bottom1 .toptext{margin-left: 0;width: 271px;text-align: center;}
.bottom1 .toppic{width: 271px;height: 151px;margin-left: 0;margin-top: 0;}
.bottom1 .toppic img{width: 150px;margin-left:60px ;}
.darmin{width: 398px;height: 520px;float: left;margin-left: 3px;}
#darmin{margin-left: 0;}
.darMin1{width: 398px;height: 520px;position: relative;}
.darmin .a1{position: absolute;}
.darMin1 .darminx{display:none;width: 398px;height: 520px;position: absolute;background: url(../img/darwin_mask_bg.png) repeat;text-align: center;}
.darminx p{width: 260px;height: 120px;padding-top: 20px;border: solid 1px #fff;margin: 190px auto;}
.darminx p span{display: block;font-size: 18px;line-height: 28px;color:#fff;}
.darminx p b{display: block;width: 18px;height: 3px;background: #fff;margin: 10px auto;}
.darminx p .last{font-size:14px;}
.darMin2{width: 398px;height: 256px;position: relative;}
#darMin2{padding-bottom: 8px;}
.darMin2 .darminx{display:none;width: 398px;height: 256px;position: absolute;background: url(../img/darwin_mask_bg.png) repeat;text-align: center;}
.darMin2 .darminx p{margin: 40px auto;}
.shopmall_box{width: 100%;height: 2330px;}
.shopmall{width: 1210px;height: 2330px;margin: 0 auto;}
.shoptitle{width: 1210px;height: 120px;background: url(../img/shopcenter.jpg) no-repeat;}
.shoplink{width: 1210px;height: 50px;}
.shoplink ul{height: 50px;}
.shoplink ul li{width: 234px;height: 50px;margin-right: 8px;float: left;position: relative;overflow: hidden;}
.shoplink ul li div{width: 234px;height: 100px;position: absolute;top:0;}
.topbox{width: 234px;height: 50px;line-height: 50px;background: #999;text-align:center;font-size: 14px;color: #fff;}
.bottombox{width: 225px;height: 42px;padding: 4px 5px 4px 4px;background: #333;font-size: 15px;color: #fff;}
.bottombox span{display: block;width: 223px;height: 40px;line-height:40px;text-align:center;border: solid 1px #fff;}
.shoplists{width: 1210px;height: 432px;}
.shopgoods{width: 1210px;height: 372px;}
.shopgoods .good1{width: 220px;height: 366px;float: left;padding: 4px 9px 0;margin-right: 8px;border: solid 1px #ccc;}
.good1 .goodlink{width: 220px;height: 180px;padding-bottom: 16px;border-bottom: dashed 1px #d4d4d4;}
.good1 .goodlink li{width: 110px;height: 36px;line-height: 36px;float: left;}
.good1 .goodlink li a{color: #666;font-size: 14px;}
.good1 .goodlink li a:hover{color: #c77f40;}
.slider{width: 220px;height: 150px;margin-top: 14px;}
.slider ul{width: 220px;height: 114px;position: relative;}
.slider ul li{width: 220px;height: 114px;position: absolute;display: none;}
.slider ul .first{/*z-index: 1;*/display: block;}
.slider ul li a{width: 90px;height:45px;float: left;margin: 0 2px 12px 12px;overflow: hidden;}
.slider ul li img{width: 92px;height:47px;margin: -1px;}
.pagebox{width: 139px;height: 9px;padding: 12px 0;padding-left:81px ;position: relative;}
.pagebox  span{display: block;float: left;width: 9px;height: 9px;margin:  0 5px;border-radius: 50%;background: #999;cursor: pointer;}
.pagechange a{position: absolute;width: 8px;height: 14px;}
.pagechange .prev{left: 70px;top: 9px;background: url(../img/share02.png) no-repeat -239px -384px;}
.pagechange .next{right: 70px;top: 9px;background: url(../img/share02.png) no-repeat -267px -384px;}


.shopgoods .good2{width: 390px;height: 370px;float: left;margin-right: 8px;border: solid 1px #ccc;position: relative;}
.adddiv{position: absolute;bottom: 10px;left: 50%;margin-left: -125px;width: 250px;height: 85px;padding-top:5px;background: rgba(255,255,255,0.7);}
.adddiv p{text-align: center;font-size: 14px;height: 24px;line-height: 24px;}
.adddiv .last{height: 17px;line-height: 17px;font-size: 17px;}
.adddiv span{display: block;width: 20px;height: 2px;background: #000;margin: 5px auto;}
.shopgoods .good3{width: 562px;height: 372px;float: left;}
.good3 p{width: 276px;height: 189px;margin-right: 7px;float: left;}
.good3 p img{border: solid 1px #ccc;}
.good3 .second{margin-right: 0;}
.promotion_box{width: 100%;height: 925px;border-bottom: solid 1px #ccc;}
.promotion{width: 1210px;height: 925px;margin: 0 auto;}
.pro_title{height: 120px;}
.pro_box{height: 756px;width: 1210px;}
.promotion1,.promotion2{width: 1210px;height: 295px;margin-bottom: 10px;}
.promotion1 div{float: left;}
.promotion1 .pro_pic1{width: 610px;height: 295px;}
.promotion1 .pro_pic2{width: 305px;height: 295px;}
.promotion1 .pro_pic3{width: 293px;height: 293px;}
.promotion2 div{float: left;}
.promotion2 .pro_pic1{width: 305px;height: 298px;}
.promotion2 .pro_pic2{width: 598px;height: 293px;}

.promotion3{width: 1210px;height: 146px;}
.propic_left{width: 610px;height: 146px;float: left;}
.propic_left li{position:relative;float: left;width: 192px;height: 63px;margin: 0 9px 8px 0;border: solid 1px #ccc;}
.propic_left li div{position: absolute;}
.propic_left li .topline1{width: 0px;height: 1px;background: #000;left:-1px;top: -1px;}
.propic_left li .bottomline1{width: 0px;height: 1px;background: #000;right: -1px;bottom: -1px;}
.propic_left li .leftline1{width: 1px;height: 0px;background: #000;top: -1px;right: -1px;}
.propic_left li .rightline1{width: 1px;height: 0px;background: #000;bottom: -1px;left: -1px;}


.propic_right{width: 600px;height: 138px;float: left;}
.propic_right a{display: block;width: 600px;height: 138px;background: url(../img/1bank.jpg) no-repeat;}

